@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-navy-800: var(--color-navy-800);
  --color-navy-900: var(--color-navy-900);
  --color-gold-500: var(--color-gold-500);
  --color-gold-600: var(--color-gold-600);
  --color-header-bg: var(--color-header-bg);
  --color-bolts-main: var(--color-bolts-main);
  --color-rangers-main: var(--color-rangers-main);
  --color-grizzlies-main: var(--color-grizzlies-main);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
}

@layer base {
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(58.302% 0.23867 28.465);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-navy-800: oklch(27.95% 0.03688 260.049);
  --color-navy-900: oklch(20.768% 0.03985 265.767);
  --color-gold-500: oklch(83.685% 0.16435 84.431);
  --color-gold-600: oklch(66.583% 0.15738 58.309);

  --color-header-bg: rgb(39, 35, 36);

  --color-bolts-main: oklch(36.857% 0.11958 259.591);

  --color-rangers-main: oklch(65.559% 0.13344 56.794);
  --color-grizzlies-main: oklch(38.219% 0.04478 249.096);
  --color-primary: oklch(24.802% 0.00611 17.319);
  --color-secondary: oklch(86.012% 0.07114 81.38);
  --color-tertiary: oklch(48.319% 0.07239 58.723);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  } /* Changes buttons to cursor:pointer   */
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container,
.header {
  max-width: 100%;
  margin: 0 auto; /* Centers the container */
}

.hero-header {
  position: absolute;
  bottom: 3rem;
  /* left: 1rem; */
  text-align: right;
  background-color: rgba(31, 41, 55, 0.8); /* 50% transparent black */
  padding: 1em;
  padding-left: 1.5em;
}

.hero-header-text {
  font-family: "Archivo", sans-serif;
  font-size: calc(52px + 0.390625vw);
  font-weight: 800;
  color: #ffffff;
  text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
}

.hero-sub-text {
  font-family: "Archivo", sans-serif;
  font-size: calc(16px + 0.390625vw);
  font-weight: 400;
  color: #ffffff;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
}

.hero-sub-text-2 {
  font-family: Roboto, serif;
  font-size: calc(12px + 0.390625vw);
  font-weight: 400;
  color: #eef0f2;
  /* text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;
}
